@media(max-width:920px){
    .info{
        margin-right: 5rem;
    }
    
}
@media(max-width:924px){
    .sticky ul{
        padding-left: 0rem;
    } 
}
@media(max-width:1250px){
    .main2 p{
        font-size: 3rem;
    }
}
@media(max-width:800px){
    .locations{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 6rem;
    }
    .card,.card img{
        width: 40vw;
    }
    .images img{
        width: 60vh;
        height: 40vh;
        margin-left: 7rem;
    }
    .images{
        display: flex;
        flex-direction: column;
    }
    .sticky{
        position: unset;
    }
    .section{
        display: flex;
       flex-direction: column;
       margin-left: 15rem;
    }
    .main-box{
        width: 70vw;
     }
     .section{
         margin-left: 10rem;
     }
    .sticky span{
        font-weight: normal;
    }
    .label .fas{
        display: block;
    }
    .navbar{
        display: none;
    }
    .container{
        display: block;
    }
    .main2 p{
        padding-top: 30rem;
    }
}
@media(max-width:700px){
    .locations{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0rem;

    }
    
    .images img{
        margin-right: 0rem;
        width: 60vh;
        height: 50vh;
        margin-left: 20rem;
    }
    .card{
        width: 50vw;
        margin-left: 18rem;
    }
    .card img{
        width: 50vw;
    }
    
    .main-box{
        width: 60vw;
    }
    .info-contact{
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        margin-left: 15rem;
    }
    .form{
        margin-top: 4rem;
    }
}
@media(max-width:600px){
    .info-contact{
        margin-left: 5rem;
    }
    .section{
       margin-left: 10rem;
    }
    .images img{
        height: 50vh;
        width: 80vw;
        margin-left: 5rem;
    }
    .card{
        width: 80vw;
        margin-left: 6rem;
    }
    .card img{
        width: 80vw;
    }
    .main2 p{
        padding-top: 30rem;
    }
}
@media(max-width:500px){
    .info-contact{
        margin-left: 2rem;
    }
    .main-box{
       width: 90vw;
    }
    .section{
        margin-left: 1.5rem;
    }
    .images img{
     margin-left: 4rem;
     height: 30vh;
     width: 80vw;
    }
    .card{
        margin-left: 1.5rem;
        width: 90vw;
    }
    .card img{
        width: 90vw;
    }
    .main2 p{
        padding-top: 20rem;
    }
    textarea{
        width: 90vw;
    }
    input{
        margin-bottom: 1rem;
    }
}
@media(max-width:400px){
    .images img{
        height: 30vh;
        width: 90vw;
        margin-left: 1.5rem;
    }
    .info-contact{
        margin-left: 1.5rem;
    }
}
